/**
 * Custom styles for Google Calendar Events plugin (http://wordpress.org/extend/plugins/google-calendar-events/)
 *
 * @author Ville Korhonen <ville@xd.fi>
 * @version 1.0
 */
ul.gce-list .gce-list-title {
  font-size: 1.1em;
  margin-top: 1em; }
ul.gce-list .gce-list-event {
  background: transparent; }
  ul.gce-list .gce-list-event h2.event-title {
    font-size: 1.4em;
    margin-top: 0.25em; }
ul.gce-list .gce-widget-list .gce-list .gce-list-event {
  background: transparent; }
ul.gce-list dl dt {
  font-weight: bold;
  color: gray; }
ul.gce-list dl dd {
  color: black; }
