/**
 * Custom styles for Google Calendar Events plugin (http://wordpress.org/extend/plugins/google-calendar-events/)
 *
 * @author Ville Korhonen <ville@xd.fi>
 * @version 1.0
 */

 ul.gce-list {
    .gce-list-title {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .gce-list-event {
        background: transparent;

        h2.event-title {
            font-size: 1.2em;
            margin-top: 0.25em;
        }
    }

    dl {
        dt {
            font-weight: bold;
            color: gray;
        }

        dd {
            color: black;
        }
    }
 }