/**
 * Custom styles for Google Calendar Events plugin (http://wordpress.org/extend/plugins/google-calendar-events/)
 *
 * @author Ville Korhonen <ville@xd.fi>
 * @version 1.0
 */
#widgets .gce-widget-list .gce-list .gce-list-event {
  background: transparent; }
#widgets ul.gce-list .small {
  font-size: 0.75em; }
#widgets ul.gce-list .quiet {
  color: gray; }
#widgets ul.gce-list span {
  color: black; }
#widgets ul.gce-list .gce-list-title {
  font-size: 1.1em;
  margin-top: 1em;
  color: gray; }
#widgets ul.gce-list .gce-list-event {
  background: transparent; }
  #widgets ul.gce-list .gce-list-event h2.event-title {
    font-size: 1.4em;
    margin-top: 0.25em; }
#widgets ul.gce-list .event-time span {
  background-image: url("icons/clock_16x16.png");
  background-repeat: no-repeat;
  background-position: middle left;
  padding-left: 20px; }
  #widgets ul.gce-list .event-time span span {
    background: none; }
#widgets ul.gce-list .event-location span {
  background-image: url("icons/home_16x16.png");
  background-repeat: no-repeat;
  background-position: middle left;
  padding-left: 20px; }
#widgets ul.gce-list .description {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }
  #widgets ul.gce-list .description span {
    background-image: url("icons/info_8x16.png");
    background-repeat: no-repeat;
    background-position: middle left;
    padding-left: 20px; }
