/**
 * Custom styles for Google Calendar Events plugin (http://wordpress.org/extend/plugins/google-calendar-events/)
 *
 * @author Ville Korhonen <ville@xd.fi>
 * @version 1.0
 */

.gce-widget-list .gce-list .gce-list-event {
    background: transparent;
}

 ul.gce-list {
    .gce-list-title {
        font-size: 1.1em;
        margin-top: 1em;
    }

    .gce-list-event {
        background: transparent;

        h2.event-title {
            font-size: 1.4em;
            margin-top: 0.25em;
        }
    }



    .description {
        white-space: pre-wrap; /* css-3 */    
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */    
        white-space: -o-pre-wrap; /* Opera 7 */    
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
 }